<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Ashok IT - Enquiry</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
	

<style>
.nav-link {
	color: blue !important;
}
</style>

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="dashboard"> <img alt="ashokit"
					src="images/AshokIT-Logo.jpg" width=100%>
				</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="dashboard">Home</a></li>
						<li class="nav-item"><a class="nav-link active" href="addEnq">Add
								Enquiry</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="viewEnq">View Enquiries</a></li>
					</ul>
					<a href="logout" class="btn btn-danger">Logout</a>
				</div>
			</div>
		</nav>
		<!-- Start your project here-->


		<section class="h-100 gradient-form" style="background-color: #eee;">
			<div class="container py-5 h-100">
				<div
					class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-xl-10">
						<div class="card rounded-3 text-black">
							<div class="row g-0">
								<div class="col-lg-6">
									<div class="card-body p-md-5 mx-md-4">

										<div class="text-center">
											<h4 class="mt-1 mb-5 pb-1">Edit Student Enquriy Here</h4>
										</div>
										<p class="text-success" th:text="${successMsg}" />
										<p class="text-danger" th:text="${errorMsg}" />
										
										<form th:action="@{/updateEnquiry}" th:object="${editData}" method="post">
										
											<input type="hidden"  class="form-control" th:field="*{enquiryId}" />
											
												<div class="form-outline mb-4">
													<input type="text" id="studentName" class="form-control"
														placeholder="Student Name" th:field="*{studentName}" /> <label
														class="form-label" for="studentName">Student Name</label>
												</div>

												<div class="form-outline mb-4">
													<input type="text" id="phone" class="form-control"
														placeholder="Contact Number" th:field="*{Phone}" /> <label
														class="form-label" for="phone">Contact Number</label>
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="classMode">Class
														Mode</label> <select id="classMode" class="form-select" th:field="*{classMode}">
														<option value="">-Select-</option>
														<option value="Online">Online</option>
														<option value="Classroom">Classroom</option>
													</select>
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="courseName">Course</label>
													<select id="courseName" class="form-select" th:field="*{courseName}">
														<option value="">--Select--</option>
														<option th:each="courses : ${courseList}"
															th:value="${courses}" th:text="${courses}" />
													</select>
												</div>
												<div class="form-outline mb-4">
													<label class="form-label" for="enqStatus">Enquiry
														Status</label> <select id="enqStatus" class="form-select" th:field="*{enqStatus}">
														<option value="">-Select-</option>
														<option th:each="status : ${enqStatuslist}"
															th:value="${status}" th:text="${status}" />

													</select>
												</div>

												<div class="text-center pt-1 mb-5 pb-1">
													<input type="submit" class="btn btn-primary w-100 mb-3"
														value="Update" />
												</div>


											</form>
									</div>
								</div>
								<div
									class="col-lg-6 d-flex align-items-center gradient-custom-2">
									<img alt="" src="images/lady.jpg" width="70%">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End your project here-->
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>